CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
build/
build.old/
.vs/
.vscode/
out/
scenes/backup/
scenes/output_data/
scenes/*/checkpoints/
scenes/*/cache*/
scenes/*/backup/
scenes/*/geo/
scenes/*/errors/
scenes/*/export_mesh/
scenes/*/render/
scenes/*/output_data/
*.mtx
